@model QULIX.Domain.QULEX.BusinessLayer.Entities.Company

<tr>
    <td>@Model.CompanyId</td>
    <td>@Model.CompanyName</td>
    <td>@Model.NumberOfStuff</td>
    <td>@Model.CompanyTypeName</td>
</tr>